/node_modules
/vendor
/dist/css
/dist/js
/dist/fonts/*
/dist/img/*.svg
/dist/main.html

/composer.lock
/configuration.php

/tests/backend/coverage
/tests/backend/tmp/repository/*
/tests/frontend/e2e/videos/
/tests/frontend/e2e/screenshots/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
php_errors.log*

# Cache files
.*.cache
.couscous/

# Editor directories and files
.DS_Store
tags
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
